* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


table, th, td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;    border-collapse: collapse;
    width: 100%;
  }

main {
    padding-left: 50px;
    padding-top: 30px;
}

#table {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 200px;
}

#table, th, tr, td{
    padding: 10px;
}


.aluno, input {
    padding: 10px;
}


.aluno{
    display: none;
    flex-direction: column;
    padding: 8px;
    border-radius: 5px;
    box-sizing: border-box; 
    width: 100%; 
    font-size: 16px
}


button{
    padding: 8px 16px;
    margin: 10px 0;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    
}

button:hover {
    background-color: #0056b3;
}


.cadastro{
    display: flex;
    align-items: center;
    justify-content: center;
}

.mensagem-erro {
    color: red;
    font-size: 20px;

}

