* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


table, th, td {
    border:1px solid black;
  }

main {
    padding-left: 50px;
    padding-top: 30px;
}

#table {
    padding-bottom: 200px;
}

#table, th, tr, td{
    padding: 10px;
}


.aluno, .aluno input {
    padding: 10px;
}

.aluno{
    display: none;
    margin-top: 10px;
    width: 100px;
}

button{
    margin-top: 10px;
    width: 100px;
}