* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #d9e3c3;
}

main {
    padding: 20px;
}

h1 {
    text-align: center;
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

.aluno {
    display: none;
    flex-direction: column;
    background-color: #f0f0f0;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.aluno input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

button:hover {
    background-color: #45a049;
}

.cadastro{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.mensagem-erro {
    color: red;
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
}

.aluno h5 {
    padding-bottom: 5px;
    font-size: 15px;
    color: #333;
    margin-bottom: 5px;
}

@media only screen and (max-width: 600px) {
    #table {
        overflow-x: auto;
    }

    td {
        min-width: 100px;
    }
}